# Spotify Data Project Testing
### Questions
1. What percentage of tracks are labelled as "explicit"?
    - Does a song being explicit affect its streams?
2. What factors influence a song's likelihood of being included in popular playlists?
    - e.g. genre, tempo, artist popularity of songs that are commonly featured in Spotify's popular playlists.
3. How does the length of a song influence its streaming numbers?
4. How does the time of year that a song was release affect its spotify streams
5. find more questions that aren't necessarily to do with streams

In [6]:
# Importing Libraries
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading the dataset
df = pd.read_csv('B:\R\R Directories\Portfolio\Datasets\Spotify_Data\Spotify_Data.csv')

# Cleaning the data
df['release_date'] = pd.to_datetime(df['Release Date']) # Convert 'Release Date' to datetime, change column name
df = df.drop('Release Date', axis=1) # Drop the old 'Release Date' column for tidiness
df['explicit_track'] = df['Explicit Track'].astype('category') # Convert 'Explicit Track' to bool and change name

# Function to remove commas and convert to int - fix this by working out which values dont work
def safe_to_int(value):
    try:
        return int(value.replace(',', ''))
    except AttributeError:
        return None

columns_to_convert = df[['Spotify Streams', 'YouTube Views', 'Spotify Playlist Count',
                         'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views',
                         'Soundcloud Streams']]
for col in columns_to_convert:
    df[col] = df[col].apply(safe_to_int)

## Inspecting the dataframe shows the following:
1. The df is 4600 x 29
2. Datetime was a string value, so converted to datetime using Pandas
3. Column names are unfavorable, debating changing the ones I plan on using
4. Many numbers are str values separated by commas, wrote a function to change any desired columns to ints.

In [7]:
df.dtypes

Track                                 object
Album Name                            object
Artist                                object
ISRC                                  object
All Time Rank                         object
Track Score                          float64
Spotify Streams                       object
Spotify Playlist Count                object
Spotify Playlist Reach                object
Spotify Popularity                   float64
YouTube Views                         object
YouTube Likes                         object
TikTok Posts                          object
TikTok Likes                          object
TikTok Views                          object
YouTube Playlist Reach                object
Apple Music Playlist Count           float64
AirPlay Spins                         object
SiriusXM Spins                        object
Deezer Playlist Count                float64
Deezer Playlist Reach                 object
Amazon Playlist Count                float64
Pandora Streams                       object
Pandora Track Stations                object
Soundcloud Streams                    object
Shazam Counts                         object
TIDAL Popularity                     float64
Explicit Track                         int64
release_date                  datetime64[ns]
dtype: object

In [8]:
df

,Track,Album Name,Artist,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,...,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,release_date
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",92.0,...,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0,2024-04-26
1,Not Like Us,Not Like Us,Kendrick Lamar,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",92.0,...,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1,2024-05-04
2,i like the way you kiss me,I like the way you kiss me,Artemas,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",92.0,...,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0,2024-03-19
3,Flowers,Flowers - Single,Miley Cyrus,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,...,264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0,2023-01-12
4,Houdini,Houdini,Eminem,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",88.0,...,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1,2024-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",71.0,...,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1,2017-09-05
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",56.0,...,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0,2018-07-27
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",65.0,...,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1,2020-02-28
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",66.0,...,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0,2016-11-08
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arc��,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",64.0,...,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1,2017-04-11